$shade-map: (
  "100",
  "200",
  "300",
  "400",
  "500",
  "600",
  "700",
  "800",
  "900",
  "1000",
  "1100",
  "1200",
  "1300"
);

$l-map: (
  "100": /* */ 98.5%,
  //            2.0,
  "200": /* */ 96.5%,
  //            3.5,
  "300": /* */ 93%,
  //            5.0,
  "400": /* */ 86%,
  //           13.0,
  "500": /* */ 73%,
  //           11.0,
  "600": /* */ 62%,
  //           11.0,
  "700": /* */ 51%,
  //            7.0,
  "800": /* */ 44%,
  //            6.0,
  "900": /* */ 38%,
  //           10.0,
  "1000": /**/ 28%,
  //            6.0,
  "1100": /**/ 22%,
  //            4.5,
  "1200": /**/ 17.5%,
  //            4.0,
  "1300": /**/ 13.5%,
);

$vibrant-chroma-map: (
  "100": /* */ 0.02,
  "200": /* */ 0.06,
  "300": /* */ 0.12,
  "400": /* */ 0.18,
  "500": /* */ 0.21,
  "600": /* */ 0.24,
  "700": /* */ 0.21,
  "800": /* */ 0.18,
  "900": /* */ 0.15,
  "1000": /**/ 0.1,
  "1100": /**/ 0.07,
  "1200": /**/ 0.04,
  "1300": /**/ 0.02,
);

$muted-chroma-map: (
  "100": /* */ 0.02,
  "200": /* */ 0.03,
  "300": /* */ 0.06,
  "400": /* */ 0.09,
  "500": /* */ 0.1,
  "600": /* */ 0.1,
  "700": /* */ 0.1,
  "800": /* */ 0.09,
  "900": /* */ 0.07,
  "1000": /**/ 0.05,
  "1100": /**/ 0.03,
  "1200": /**/ 0.02,
  "1300": /**/ 0.02,
);

$accent-chroma-map: (
  "100": /* */ 0.02,
  "200": /* */ 0.02,
  "300": /* */ 0.02,
  "400": /* */ 0.02,
  "500": /* */ 0.02,
  "600": /* */ 0.02,
  "700": /* */ 0.02,
  "800": /* */ 0.02,
  "900": /* */ 0.02,
  "1000": /**/ 0.02,
  "1100": /**/ 0.02,
  "1200": /**/ 0.02,
  "1300": /**/ 0.02,
);

$neutral-chroma-map: (
  "100": /* */ 0,
  "200": /* */ 0,
  "300": /* */ 0,
  "400": /* */ 0,
  "500": /* */ 0,
  "600": /* */ 0,
  "700": /* */ 0,
  "800": /* */ 0,
  "900": /* */ 0,
  "1000": /**/ 0,
  "1100": /**/ 0,
  "1200": /**/ 0,
  "1300": /**/ 0,
);

@mixin map-color($color) {
  @each $shade in $shade-map {
    --#{map-get($color, name)}-#{$shade}: oklch(
      #{map-get($l-map, $shade)}
        #{map-get(map-get($color, chromas), $shade)}
        #{map-get(map-get($color, hues), $shade)}
    );
  }
}
